<div style="
  width: xxWIDTHxx;
  height: xxHEIGHTxx; /** not currently used */
  min-height: 3em;
  background-color: xxBGCOLORxx;
  border: 4px solid xxCOLORxx;
  border-radius: .5em;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 8px 8px 60px;
  position: relative;
  font-size: 2.3em;
  font-weight: 500;
  color: black;
  text-align: left;
  margin-bottom: .5em;
  text-align: center;
">
  <div style="
    height: 1.6em;
    /* width: 2em; */
    position: absolute;
    top: .35em;
    left: -.45em;
    /*****/
    width: fit-content;
    border-left: 4px solid xxCOLORxx;
    border-bottom: 4px solid xxCOLORxx;
    padding: 1px 14px 1px 6px;
    border-bottom-left-radius: .4em;
    border-top-left-radius: .4em;
    display: inline;
    margin-right: 6px;
    transform: rotate(-90deg);
    font-size: .8em;
  ">
    xxLABELxx
  </div>
  xxCONTENTxx
</div>